<br>
<br>
<div class="footer">
    <table style="width: 100%;">
        <tr class="footA">
            <th><a href="/contactus">Contact Us</a></th>
            <th><a href="/aboutus">About Us</a></th>
            <th><a href="/support">Support</a></th>
        </tr>
        <br>
        <tr class="footB">
            <th><a href="/privacy">Privacy</a></th>
            <th></th>
            <th><a href="/legal">Legal</a></th>
        </tr>
    </table>
</div>
</body>

</html>