<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="js/functions.js"></script>
    <meta charset="UTF-8">
    <title>Traffic Tracer</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>

<nav role="select">
    <ul>
        <li><a href="/howitworks">How it works</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/demo">Demo</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

    <select onchange="if (this.value) window.location.href = this.value;">
            <option value="/howitworks">How it works</option>
            <option value="/features">Features</option>
            <option value="/demo">Demo</option>
            <option value="/login">Login</option>
        </select>
</nav>

<body>