<%- include('partials/header.ejs') %>

    <br>
    <br>

    <h1 class="pageTitle">Nicholas Hinds</h1>

    <p class="mainTextB">Student at CSUMB</p>
    <p class="mainTextA">Based in Oakland</p>
    <p class="mainTextB">Building projects whenever possible</p>
    <img class="por" src="img/flowerFace.jpg" width="400">
    <p class="mainTextA">Thanks for your interest!</p>

    <br>
    <br>

    <%- include('partials/footer.ejs') %>