<%- include('partials/header.ejs') %>

    <br>
    <br>

    <div class="shade">
        <div class="blackboard">
            <div class="form">
                <p>
                    <label>Name: </label>
                    <input class="contactInput" type="text" />
                </p>
                <p>
                    <label>Email: </label>
                    <input class="contactInput" type="text" />
                </p>
                <p>
                    <label>Phone: </label>
                    <input class="contactInput" type="tel" />
                </p>
                <p>
                    <label>Subject: </label>
                    <input class="contactInput" type="text" />
                </p>
                <p>
                    <label>Message: </label>
                    <textarea class="ta"></textarea>
                </p>
                <p class="wipeout">
                    <input class="contactSubmit" type="submit" value="Send" />
                </p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <%- include('partials/footer.ejs') %>