<%- include('partials/header.ejs') %>

    <br>
    <br>

    <h1 class="pageTitle">Dashboard</h1>

    <!-- <div id="countsReport">
        <input type="date" id="d1" name="date1" placeholder="Starting Date" required>
        <input type="date" id="d2" name="date2" placeholder="Ending Date" required>
        <button id='getData'>
            Get Data
        </button>
        <div class="container">
            <canvas id="myChartEOE"></canvas>
        </div>
    </div> -->
    
    <br>
    <br>

    <div id="timesanddatesReport">
        <input type="date" id="time1" name="datefortime1" required>
        <input type="date" id="time2" name="datefortime2" required>
        <button id='getTimeData'>
            Get Data
        </button>
        <div class="containerChart">
            <canvas id="myChartTime"></canvas>
        </div>
    </div>

    <br>
    <br>

    <%- include('partials/footer_NoLink.ejs') %>