<%- include('partials/header.ejs') %>

    <br>
    <br>

    <h1 class="pageTitle">Features of Traffic Tracer </h1>

    <div>
        <p class="mainTextB">Video Processing</p>
        <div class="mainTextC">
            <p>Traffic Tracer seeks to be hardware angostic in regards to camera hardware.</p>
            <p class="subTitle">The video footage provided can take two forms:</p>
            <ul>
                <li>
                    Streamed Video This is the favored form as we can provide live data to users, but this does require newer hardware.
                </li>
                <li>
                    Video Files With older camera systems stream footage to Traffic Tracer may not be possible. In this case Traffic Tracer can provide a desktop application that can be used to select video files and process them.
                </li>
            </ul>

            <p>Traffic Tracer can monitor the duration a customer is in view of the camera. this gives merchnats the opportunity to monitor how long people spend in targeted zones of there store.</p>
        </div>
    </div>

    <div>
        <p class="mainTextB">Reporting</p>
        <div class="mainTextC">
            <p>Reporting is at the heart of Traffic Tracer. It allows the user to get the data from there business and put it to use.</p>
            <p class="subTitle">Reporting takes two primary forms:</p>
            <ul>
                <li>
                    Charts Provide a visual represenattion of the requested.
                </li>
                <li>
                    PDF Reports Downloadable reports that contain the data requested.
                </li>
            </ul>

            <p>Along with reports, Traffic Tracer also provides the merchant live occupancy data. Monitoring the entrance and exit point of the business we keeps track of the occupancy and provide this to clients.</p>
        </div>
    </div>

    <br>
    <br>

    <%- include('partials/footer.ejs') %>