<%- include('partials/header.ejs') %>

    <br>
    <br>

    <h1 class="pageTitle">Features of Traffic Tracer </h1>

    <p class="mainTextB">More soon!</p>

    <br>
    <br>

<%- include('partials/footer.ejs') %>