<%- include('partials/header.ejs') %>

    <br>
    <br>

    <h1 class="pageTitle">How Traffic Tracer Works</h1>

    <div class="">
        <table>
            <tr class="tableHead">
                <th>Onboarding</th>
                <th>Process Camera Footage</th>
                <th>View Traffic Reports</th>
            </tr>
            <tr class="tableContent">
                <td class="innerRow">
                    <ul>
                        <li>You Select the camera or cameras to use</li>
                        <li>We select what the barrier for entrance/ exit is within the camera frame</li>
                        <li>We setup your account</li>
                    </ul>
                    <img class="imageCenter" src="img/onboardingWhite.png">
                </td>
                <td class="innerRow">
                    <p>Whether your camera footage can be accessed with a stream online or through downloaded video clips we will process the footage to gather the foot traffic data.</p>
                    <ul>
                        <li>
                            <p>First option, Video Stream</p>
                            <p>You provide us with the stream and we will process the video live with results available instantly.</p>
                        </li>
                        <li>
                            <p>Second option, Video Clips</p>
                            <p>We install a program on a machine of you choice and you can select you file to process, data is available while being processed.</p>
                            <p>processed footage happens as faster than 1x playback cutting down on process time.</p>
                        </li>
                    </ul>
                    <img class="imageCenter" src="img/processWhite.png">
                </td>
                <td class="innerRow">
                    <p>Once footage has began being processed, you can start viewing reports</p>
                    <p>Traffic Tracer reports take two general forms</p>
                    <ul>
                        <li>Charts, so you can see a visual representation.</li>
                        <li>PDF reports, files to download with the requested data.</li>
                    </ul>
                    <img class="imageCenter" src="img/report.png">
                </td>
            </tr>
        </table>
    </div>

    <br>
    <br>

    <%- include('partials/footer.ejs') %>