<%- include('partials/header.ejs') %>
        
        <main>
            
            <img class='favoriteIcon' src='img/trafficTracer_GIF_800x533_No_BG.gif' width="800">
            <p class="mainTextA">Traffic Tracer seeks to provide mechants with foot traffic data that will give them the advantage needed in today business world.</p>
            <p class="mainTextB">We seek to accomplish this while using as mush of the pre-existing camera hardware as possible.</p>
            <p class="mainTextA">This data will make the difference between success and failure.</p>
            
        </main>

<%- include('partials/footer.ejs') %>