<%- include('partials/header.ejs') %>

    <br>
    <br>

    <div class="legal">
        <p>Copyright © 2020</p>
        <p>By</p>
        <p>Nicholas Hinds</p>
        <p>All Rights Reserved</p>
    </div>

    <br>
    <br>

    <%- include('partials/footer.ejs') %>