<%- include('partials/header.ejs') %>

    <br>
    <br>

    <h1 class="pageTitle">Support</h1>

    <form class="supportForm">
        <input name="name" type="text" class="feedback-input" placeholder="Name" />
        <input name="name" type="text" class="feedback-input" placeholder="Merchant Name" />
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea name="text" class="feedback-input" placeholder="Support Issue"></textarea>
        <input class="support" type="submit" value="SUBMIT" />
    </form>

    <br>
    <br>

    <%- include('partials/footer.ejs') %>